table {width: 100%; border-collapse: collapse;}
td {width: 11.11%;border: 1px solid black;}
th {text-align: left; color: #999;}
.modCode {font-weight: bold; text-align: center; margin:0; font-size:large;}
.room {font-style: italic; text-align: center; margin:0;}
.staff {text-align: center;margin:0; font-size:small;}
.weeks {text-align: center; margin:0; font-size:small;}
.Lecture{background-color: #8484fd9b;}
.Tutorial{background-color: #84fda09b;}
.Practical{background-color: #fda4849b;}
.Seminar{background-color: #fdf9849b;}
.Workshop{background-color: #fdf9849b;}
.field.trip{background-color: #fdf9849b;}
#controls {border: 1px solid black; padding:0 5px 0 5px; display:inline-block; border-radius: 10px;}
.timestamp {font-style:italic; text-align: right;}
.tableWed {width: 44.44%; border-collapse: collapse; float: left;}
#legend {float: left; margin-left: 22.22%; margin-top: 1.4em; border: 1px solid black; padding-right:3em;}
h3 {padding:10px;}
.lectureLegend {width:1em; height:1em; background-color: #8484fd9b; float: left; border: 1px solid black; margin: 0 0.5em 0 1em;}
.tutorialLegend {width:1em; height:1em; background-color: #84fda09b; float: left; border: 1px solid black; margin: 0 0.5em 0 1em;}
.practicalLegend {width:1em; height:1em; background-color: #fda4849b; float: left; border: 1px solid black; margin: 0 0.5em 0 1em;}
.otherLegend {width:1em; height:1em; background-color: #fdf9849b; float: left; border: 1px solid black; margin: 0 0.5em 0 1em;}
.urlFooter {font-style:italic; text-align: left; float: left;}
.url {font-family: "Courier New", Courier, monospace;}
